<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.page.dao.ClassRoomMapper">
    <resultMap id="BaseResultMap" type="com.example.page.entity.ClassRoom">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="JSBH" jdbcType="VARCHAR" property="jsbh" />
        <result column="JSMC" jdbcType="VARCHAR" property="jsmc" />
        <result column="JSLB" jdbcType="VARCHAR" property="jslb" />
        <result column="ZWS" jdbcType="DECIMAL" property="zws" />
        <result column="XQDM" jdbcType="DECIMAL" property="xqdm" />
        <result column="KSZWS" jdbcType="DECIMAL" property="kszws" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, JSBH, JSMC, JSLB, ZWS, XQDM, KSZWS
  </sql>
    <select id="selectByExample" parameterType="com.example.page.entity.ClassRoomExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from CLASSROOM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from CLASSROOM
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CLASSROOM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.example.page.entity.ClassRoomExample">
        delete from CLASSROOM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.example.page.entity.ClassRoom">
    insert into CLASSROOM (ID, JSBH, JSMC,
      JSLB, ZWS, XQDM, KSZWS
      )
    values (#{id,jdbcType=VARCHAR}, #{jsbh,jdbcType=VARCHAR}, #{jsmc,jdbcType=VARCHAR},
      #{jslb,jdbcType=VARCHAR}, #{zws,jdbcType=DECIMAL}, #{xqdm,jdbcType=DECIMAL}, #{kszws,jdbcType=DECIMAL}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.page.entity.ClassRoom">
        insert into CLASSROOM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="jsbh != null">
                JSBH,
            </if>
            <if test="jsmc != null">
                JSMC,
            </if>
            <if test="jslb != null">
                JSLB,
            </if>
            <if test="zws != null">
                ZWS,
            </if>
            <if test="xqdm != null">
                XQDM,
            </if>
            <if test="kszws != null">
                KSZWS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="jsbh != null">
                #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="jsmc != null">
                #{jsmc,jdbcType=VARCHAR},
            </if>
            <if test="jslb != null">
                #{jslb,jdbcType=VARCHAR},
            </if>
            <if test="zws != null">
                #{zws,jdbcType=DECIMAL},
            </if>
            <if test="xqdm != null">
                #{xqdm,jdbcType=DECIMAL},
            </if>
            <if test="kszws != null">
                #{kszws,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.example.page.entity.ClassRoomExample" resultType="java.lang.Integer">
        select count(*) from CLASSROOM
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update CLASSROOM
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.jsbh != null">
                JSBH = #{record.jsbh,jdbcType=VARCHAR},
            </if>
            <if test="record.jsmc != null">
                JSMC = #{record.jsmc,jdbcType=VARCHAR},
            </if>
            <if test="record.jslb != null">
                JSLB = #{record.jslb,jdbcType=VARCHAR},
            </if>
            <if test="record.zws != null">
                ZWS = #{record.zws,jdbcType=DECIMAL},
            </if>
            <if test="record.xqdm != null">
                XQDM = #{record.xqdm,jdbcType=DECIMAL},
            </if>
            <if test="record.kszws != null">
                KSZWS = #{record.kszws,jdbcType=DECIMAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update CLASSROOM
        set ID = #{record.id,jdbcType=VARCHAR},
        JSBH = #{record.jsbh,jdbcType=VARCHAR},
        JSMC = #{record.jsmc,jdbcType=VARCHAR},
        JSLB = #{record.jslb,jdbcType=VARCHAR},
        ZWS = #{record.zws,jdbcType=DECIMAL},
        XQDM = #{record.xqdm,jdbcType=DECIMAL},
        KSZWS = #{record.kszws,jdbcType=DECIMAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.page.entity.ClassRoom">
        update CLASSROOM
        <set>
            <if test="jsbh != null">
                JSBH = #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="jsmc != null">
                JSMC = #{jsmc,jdbcType=VARCHAR},
            </if>
            <if test="jslb != null">
                JSLB = #{jslb,jdbcType=VARCHAR},
            </if>
            <if test="zws != null">
                ZWS = #{zws,jdbcType=DECIMAL},
            </if>
            <if test="xqdm != null">
                XQDM = #{xqdm,jdbcType=DECIMAL},
            </if>
            <if test="kszws != null">
                KSZWS = #{kszws,jdbcType=DECIMAL},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.page.entity.ClassRoom">
    update CLASSROOM
    set JSBH = #{jsbh,jdbcType=VARCHAR},
      JSMC = #{jsmc,jdbcType=VARCHAR},
      JSLB = #{jslb,jdbcType=VARCHAR},
      ZWS = #{zws,jdbcType=DECIMAL},
      XQDM = #{xqdm,jdbcType=DECIMAL},
      KSZWS = #{kszws,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>